/* poppins */ @import url('https://fonts.googleapis.com/css2?family=BBH+Sans+Bartle&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=UnifrakturMaguntia&display=swap');

body { 
    margin: 0; 
    padding: 0;
    background-color: #02016D;/**/
    /*font-family: ;*/
}

nav {
    display: flex; 
    align-items: center; 
    height: 120px; 
    width: 100%; 
    box-sizing: border-box; 
    background-color: #232323;
    padding-left: 0%;
  }
.nav{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 10%;
  padding-right: 5%;
}

.nav p
{
  margin: 0px;
  margin-bottom: 8px;
  font-size: 23px;
}

.status {
    font-size: 26px; 
    font-weight: 600;
}

.TeamNumber img
{
  margin-left: 5%;
  width: 50%;
}

  p {
  color: white;
  }
  
  .logo {
    display: flex;             
    align-items: center; 
  }
  
  .logo img {
    height: 100px;
    padding-left: 20px;
  }


  .field img 
  {
    padding-top: 1.5%;
    width: 80%;
  }

  